/* sitesupermercado.css */
body {
  font-family: Helvetica, sans-serif;
  background-color: yellow;
}

.header {
  font-family: Helvetica, sans-serif;
  background-color: green;
}

h1 {
  color: navy;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

h4 {
  color: black;
}

.footer {
  font-family: Helvetica, sans-serif;
  font-size: 12px ;
  text: align-to-center;
  background-color: red;
}
